:root {
    --shadow: 0px 2px 2px 2px rgba(10, 10, 10, 0.5);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #dedede;
    font-family: monospace;
    font-size: 1em;
    font-weight: 300;
    height: 100%;
    padding-bottom: 7rem;
    position: relative;
    margin: 0;
    overflow-x: hidden;
}

article p {
    margin: auto;
    max-width: 600px;
    text-indent: 1em;
}

h1 {
    font-weight: 400;
    letter-spacing: 3px;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

nav {
    background-color: #444;
    overflow: hidden;
}

nav ul {
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; 
}

nav ul li:hover {
    background-color: #dedede;
}

nav ul li:hover > a {
    color: #3333ff;
}

nav > ul > li > a {
    color: #dedede;
    display: block;
    line-height: 48px;
    padding-left: 16px;
    margin: 0px 16px 0px 0px;
    text-decoration: none;
    width: 100%;
}

main {
    background-color: #333;
    box-shadow: var(--shadow);
    line-height: 1.2em;
    margin: auto;
    margin-bottom: 40px;
    max-width: 800px;
    padding: 24px;
}

main a {
    color: #9988ee;
}

p {
    margin: auto;
    max-width: 600px;
    text-indent: 1em;
}

footer {
    background-color: #222222;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 16px;
    position: fixed;
    text-align: center;
    right: 0;
    width: 100%;
}

#github {
    background-color: #444;
    color: #eee;
    float: right;
    margin: 8px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.yt-video {
    margin: 8px;
    padding: 16px;
}

.yt-video iframe {
    margin: 8px;
    width: 100%;
}

