{{define "base"}}
	 <head>
		<link rel="stylesheet" type="text/css" href="/static/default.css">
	 {{template "head" .}}
	 </head>
	 <body>
	 {{template "nav" .}}
	 {{template "content" .}}
	 </body>
{{end}}