{{define "nav"}}
<nav>
	<ul>
		<li>
			<a href="/">home</a>
		</li>
		<li>
			<a href="#">services</a>
		</li>
		<li>
			<a href="#">contact</a>
		</li>
		<li>
			<a href="#">about</a>
		</li>
	<ul>
</nav>
{{end}}