{{define "head"}}
<title>UNDER CONSTRUCTION</title>
<link rel="stylesheet" type="text/css" href="/static/wip.css">
{{end}}

{{define "content"}}
<h1>under construction</h1>
<img src="https://media.giphy.com/media/JoPjeymMjG8Lu/giphy.gif"/>
{{end}}
