{{define "head"}}
<title>about</title>
<link rel="stylesheet" type="text/css" href="/static/about.css">
{{end}}

{{define "content"}}

<h1>about</h1>

<img src="https://image.ibb.co/dRkoMv/country_boy.jpg"
     alt="me as a country boy"/>

<h3>about me</h3>

<p>i've lived here in Brinkley pretty much my whole
    life, except for a 6 year stint in Fayetteville.
    i'm a musician and a technician.
    i've played music since i was 3 years old.
    my family was priviledged to travel all
    around the country taking us to many
    musical workshops and masterclasses.
    during college i was in a band, and
    after i had the opportunity to
    tour the country in an RV as well as central
    Europe with some great guys.
    performing is a passion of mine, so
    i want to bring that passion to our
    local community through teaching
    and putting on events and concerts,
    and i want it to be a community endeavor.</p>

<p>as far as technology goes, i've had my eye
    on computers from a young age. i remember
    playing baseball games on my dad's old
    MS-DOS machine and gawking at video games
    desperate to know how they work. so i
    went to college for computer science.
    i've done programming, web development,
    Android apps, learned languages and
    frameworks, and generally studied
    the internals of software over 10 years.
    hardware isn't my forte, but i've had my eye
    in that direction as well. i built my own
    desktop and know about the internals
    and parts of the computer and how they work
    together. whether it's a gaming machine
    or a work laptop or a cell phone, i can
    tell you a bit about what's going on
    inside.</p>

<h3>this site</h3>

<p>i'm a bit of an overengineer.
    this site is built on a virtual
    private server (VPS) using go,
    which isn't optimal for most sites,
    but this site proves at least a bit
    that i know what i'm doing.
    it's still a work in progress,
    but i'll be updating continously
    and making sure it's secure and
    quick.</p>

<p>if you have any suggestions, find
    any typos, or have issues in general
    feel free to
    <a href="/contact">get in touch with
	me</a>

{{end}}
