{{define "head"}}
<title>about</title>
<link rel="stylesheet" type="text/css" href="/static/about.css">
{{end}}

{{define "content"}}

<h1>about</h1>

<h3>my bio</h3>

<p>I grew up in rural East Arkansas, homeschooled
    and played violin from a young age.
    I attended the University of Arkansas for
    computer science and math, and I've been
    programming ever since.</p>

<h2>software development</h2>

<a id="github" href="github.com">
    <img border="0" alt="my github"
	 width="16"
	 src="https://camo.githubusercontent.com/6d3b6965b71ebb2f6ac981a061d70ace7cddd44f/68747470733a2f2f6769742d73636d2e636f6d2f696d616765732f6c6f676f732f646f776e6c6f6164732f4769742d49636f6e2d31373838432e706e67"
    />
    github
</a>

<p>I started programming in college. My intro to
    programming course was taught in C++, but I
    soon moved on to Java. During my sophomore
    year I did a summer internship at Fedex Services
    where I worked on server monitoring software.
    After school I worked for an upstart company
    in Bentonville, AR called RevUnit where I
    developed a Google Maps based "minimap"
    called Overwatch. For a few years after,
    I toured with a band doing odd projects
    and keeping up with new tech. I've
    done projects in Java, Kotlin, Groovy,
    Go, Rust, and various other platforms.
    My focus is in performant, reliable,
    flexible, and readable code. These days
    I prefer compiled languages such as Rust
    or Go for mostly performance reasons. 
    I like to work close to the metal on
    operating systems and highly synchronous
    systems.
</p>

<h3>software philosophies</h3>
<p>I'm a firm believer in open source software and
    software freedom. I'm not quite a Richard Stallman,
    but I strive to use open source technologies when
    available. I'm an Emacs user. I prefer Linux,
    when possible.</p>
<p>When it comes to software design principles,
    I think it's important to consider functional,
    imperative, and object oriented solutions equally.
    Each paradigm has its uses and advantages.</p>

<h3>this site</h3>

<p>this site was built using Go and nginx and
    certified by LetsEncrypt.</p>

<p>if you have any suggestions, find
    any typos, or have issues in general
    feel free to
    <a href="/contact">get in touch with
	me</a>

{{end}}
