{{define "head"}}
<title>contact me</title>
<link rel="stylesheet" type="text/css" href="/static/contact.css">
{{end}}

{{define "content"}}
<h1>contact me</h1>
<img src="https://media.giphy.com/media/Oe4V14aLzv7JC/giphy.gif"
     alt="IT crowd; turn it off and on again"/>
<h3>email</h3>
<p>email me at <strong>covercash2@gmail.com</strong></p>
<h3>phone</h3>
<p>text (preferred) or call <strong>(501) 510-0946</strong></p>
{{end}}
