{{define "head"}}
<title>contact me</title>
<link rel="stylesheet" type="text/css" href="/static/contact.css">
{{end}}

{{define "content"}}
<h1>contact me</h1>
<h3>email</h3>
<p>email me at <strong>covercash2@gmail.com</strong></p>
<h3>phone</h3>
<p>text or call <strong>(501) 510-0946</strong></p>

<form id="email-form" action="/api/email" method="post" >
    <label for="name">name</label>
    <input type="text" name="name" id="name-input" />
    <label for="email">email</label>
    <input type="email" name="email" id="email-input" />
    <label for="phone">phone number</label>
    <input type="tel" pattern='\d{10}'
	   name="phone" id="phone-input" />
    <label for="message">message</label>
    <textarea name="message" rows="15" columns="30"
	      id="message-input"></textarea>
    {{.csrfField}}
    <input type="submit" value="send" />
</form>

{{end}}
