{{define "head"}}
<link rel="stylesheet" type="text/css" href="/static/index.css">
<title>C/$</title>
{{end}}

{{define "content"}}

<article>

    <a id="github" href="https://github.com/covercash2">
	<img border="0" alt="my github"
	    width="16"
	    src="https://camo.githubusercontent.com/6d3b6965b71ebb2f6ac981a061d70ace7cddd44f/68747470733a2f2f6769742d73636d2e636f6d2f696d616765732f6c6f676f732f646f776e6c6f6164732f4769742d49636f6e2d31373838432e706e67"/>
	github
    </a>

    <h1 id="welcome-header">Welcome!</h1>
    <p>
	This is a place for me to showcase what I've been
	working on and periodically blog about something
	on my mind.
	My name is Chris Overcash. I'm a software developer,
	IT enthusiast, and freelance musician.
    </p>

</article>
{{end}}
