{{define "head"}}
<link rel="stylesheet" type="text/css" href="/static/index.css">
<title>C/$</title>
{{end}}

{{define "content"}}

<article>
    <h1 id="welcome-header">welcome!</h1>
    <div class="photo-div" id="main_photo" title="picture of me by Anna Hutchison at HutchAndFutch.photo"></div>
    <p>this is a personal website for me to post general information about what
	i'm working on and what you can hire me for.

	<p>i plan on doing freelance violin and guitar gigs, teaching guitar and violin lessons,
	doing freelance internet setup and diagnostics,
	setting up simple websites for small businesses,
	and doing general electronics repair.</p>

	<p>i've got a bit of experience in playing music and doing theatre productions
	and have recently started teaching guitar lessons. i've been talking to a lot
	of locals around here about doing more community oriented concerts and other
	productions. there will be more info to come <a href="/music">on the music
	portion of the site.</a></p>

	<p>when it comes to electronics, i've always had an affinity for computers.
	i attended the University of Arkansas for computer science and have been
	studying software development ever since. i've developed android apps and
	done some systems and graphics programming. although my goal isn't to become
	a full time software developer at this time, we can consult about any
	software you may want built including simple Android apps and websites. 
	i can also setup wifi networks and consult with you about good
	hardware and provider options. i hope to have some simple-language materials
	to help explain what your options are and what an optimal wifi network looks
	like for your home or business. there will be more info to come
	<a href="/tech">in the tech portion of this site.</a> </p>

	<p>my plan over the next year or so is to do freelance work in the East Arkansas
	area or wherever i can. while i'm saving money i hope to open
	<a href="/store">my papaw's store in downtown Brinkley.</a>
	it's very much a work in progress, but i'm determined to bring life back
	into our community and our downtown. America is great because of great people
	doing great things, and that starts with us cleaning up our community
	and giving what we can to help each other and our collective quality of life.</p>

	<p>this site is still a work in progress, but if you need my services or want to
	help me out by reporting bugs or typos on this site, you can
	<a href="/contact">visit the contact page</a> and send me an email or
	shoot me a text. i rarely answer calls from numbers i don't have saved.</p>   
</article>
{{end}}
