{{define "head"}}
    <title>music</title>
    <link rel="stylesheet" type="text/css" href="/static/music.css">
{{end}}

{{define "content"}}

    <h1>Shapeshifting</h1>

    <p>
	I played fiddle in a band called "Shawn James & the Shapeshifters"
	for a few years, from the end of college until about 2016. 
    </p>

    <div class="yt-video">
	<h3>The Devil Went Down to Georgia</h3>
	<p>We just worked this one up in about a week for Halloween</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-ZeyH7fwTVM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="yt-video">
	<h3>Through the Valley</h3>
	<p>
	    This is one we would play pretty regularly, and we got the opportunity
	    to shoot in this cool spot.
	</p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/e8GU4_O8Ptw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

{{end}}
