{{define "head"}}
<title>music</title>
<link rel="stylesheet" type="text/css" href="/static/music.css">
{{end}}

{{define "content"}}
<h1>music services and events</h1>

<img src="https://image.ibb.co/h588Mv/me_dual_pane_small.png"
     alt="dual pane images of me. left photo by Suzanne Gunther"
     border="0">

<h3>lessons</h3>
<p>here in Brinkley i teach guitar lessons.
    i only have a few students currently,
    so i'm open to signing up a few more.
    if you're interested, you can
    <a href="/contact">contact me</a>.</p>

<p>i can also teach violin, but violin
    is a difficult instrument. i don't
    want to be too harsh, but violin
    takes a firm commitment and daily,
    diligent practice. you can do
    fiddle or classical, but if
    you don't have 30-60 minutes
    a day you'll be unhappy with
    your progress. and i'll be a little
    bummed as well. call me. we'll
    talk about it.</p>

<h3>freelance</h3>
<p>performance is the heart of music.
    i have quite a bit of stage experience,
    so if you need a violinist or
    guitar player for your gig,
    <a href="/contact">let me know.</a></p>

<h3>events</h3>
<p>my family has put on a couple
    shows recently, but i don't want our
    local music scene to be us only.
    if you can play an instrument and
    would like to perform with us, great!
    we definitely welcome that.</p>

{{end}}
