{{define "nav"}}
<nav>
    <ul>
	<li>
	    <a href="/">home</a>
	</li>
	<li>
	    <a href="/music">music</a>
	</li>
	<li>
	    <a href="/tech">tech</a>
	</li>
	<li>
	    <a href="/contact">contact</a>
	</li>
	<li>
	    <a href="/about">about</a>
	</li>
    <ul>
</nav>
{{end}}
