{{define "head"}}
<title>t3ch $upp0rt</title>
<link rel="stylesheet" href="/static/tech.css">
{{end}}

{{define "content"}}

<h3>contributions</h3>

<p>i've recently been contributing to
    <a href="github.com/redox-os"> Redox OS</a>,
    especially it's companion shell,
    <a href="github.com/redox-os/ion">ion</a>.
</p>

{{end}}
