{{define "head"}}
<title>t3ch $upp0rt</title>
<link rel="stylesheet" href="/static/tech.css">
{{end}}

{{define "content"}}
<h1>tech support</h1>

<div id="hackerman">
    <img src="https://media.giphy.com/media/QbumCX9HFFDQA/giphy-downsized-large.gif"
	 alt="hackerman gif"/>
</div>

<p>i've seen a lot of demand around town
    here in Brinkley for tech support
    and a general need for consultation
    and advice when it comes to
    technology. and it's not anyone's
    fault. things move so fast today
    that it's almost a full time job
    trying to keep up. i can take on
    that responsibility so you don't
    have to.</p>

<h3>cell phone repair</h3>
<p>this is by far the most widespread
    problem i see. almost everyone
    has cracked or dropped their
    smartphone at some point; i know
    i have. i don't have a workshop
    at the moment (see the
    <a href="/store">store page</a>
    for updates on the upcoming
    workshop and storefront),
    but i can come pick up your
    device and have it fixed or
    diagnosed in a pretty reasonable
    amount of time.</p>

<h3>wifi and networks</h3>
<p>if you're having trouble with your wifi
    or internet connection in your home
    or business, i can do house calls,
    and we can discuss how to optimize
    your hardware and software to get
    your internet as fast as possible,
    as well as optimal hardware solutions
    that don't break the bank.</p>

<h3>repair and optimization</h3>
<p>if you've been having trouble with
    your computer in general or find that
    it's slower than it used to be, i'll
    come take a look and repair what i can
    on site. if it's a major hardware issue
    i may need to order parts or take your
    machine with me to do the repairs.</p>

<h3>security</h3>
<p>in this day and age, scary news stories
    pop up all the time: heartbleed,
    wannacry, etc. we can consult about
    what you can do to make sure you're
    protected from all kinds of attacks
    to keep your private information safe
    from attackers and botnets that slow
    down your computer and mine your
    data. usually, the news stories
    are blown out of porportion, but
    i can at least assure you that
    you're safe and protected. i hope
    to have some plain English materials
    at some point to help you maintain
    a healthy and secure PC without my help.
    (please hire me tho :D)

<h3>software and web</h3>
<p>i have a pretty good deal of experience
    in software development and use
    in general. if you need consultation
    on what software to buy or how to
    host your website, i can do house
    calls or we can do a phone
    consultation. </p>
<p>i'm a big proponent of open source
    software (<a href="https://opensource.com/resources/what-open-source">
	what the heck is open source?</a>).
    what that means for you is that a lot of
    my software recommendations will be
    free, with donations recommended.
    a lot of these developers work really
    hard with little pay so that we can
    have software that runs well,
    respects your privacy, and
    runs securely and transparently.
    some closed source software in
    a professional setting can't be avoided,
    like Adobe Photoshop and Microsoft Office,
    but for home use it's better to support
    initiatives that help all of us, not
    just Microsoft and Adobe.</p>
{{end}}
