{{define "head"}}
<title>t3ch $upp0rt</title>
<link rel="stylesheet" href="/static/tech.css">
{{end}}

{{define "content"}}

<h1>active projects</h1>

<h3>germ</h3>
<p>An experimental terminal emulator that relies
    on a GUI to execute shell commands and redirects
    stdout and stderr to different text views.
    It's still in the experimental, proof-of-concept
    stage and very immature.</p>

<h1>contributions</h1>

<p>I've recently been contributing to
    <a href="github.com/redox-os"> Redox OS</a>,
    especially it's companion shell,
    <a href="github.com/redox-os/ion">ion</a>.
</p>

{{end}}
